---
layout: default
section_id: pages
members:
  - name: 乌查
    avatar: images/team/ucha.png
    avatar_hover: images/team/ucha.png
  - name: 莱拉
    avatar: images/team/lela.png
    avatar_hover: images/team/lela.png
  - name: 德瓦
    avatar: images/team/rati.png
    avatar_hover: images/team/rati.png
  - name: 大卫
    avatar: images/team/davit.png
    avatar_hover: images/team/davit.png
---

<div class="full centered-text tree">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns ">

        <h1 class="wow slideInUp white">关于他们
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p></p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>关于我们        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medim-centered columns">
      <p class="big-text">
        我们是一支年轻团队，目标简单纯粹：展示格鲁吉亚最好的一面。我们将介绍格鲁吉亚美丽的自然、丰富的文化，分享历史和近况，帮您挖掘商机。我们的团队周游世界，目睹了无数的奇观，攀登了数十座高山，结识了众多的国际团体，最后决心回到格鲁吉亚，为游客提供美好的旅行体验。我们是最了解格鲁吉亚的。我们已经准备好，为您提供一次探险之旅，一窥普通游客看不到的世界。同时我们提供最高标准的服务，您只负责放松和享受，我们负责承担责任。
      </p>
    </div>
  </div>
</div>
<div class="full centered-text light-grey">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>The team</h2>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

</div>