---
layout: default
section_id: pages
members:
  - name: 乌查
    avatar: images/team/ucha.png
    avatar_hover: images/team/ucha.png
    position: 乌查（Ucha）拥有旅游管理硕士学位，在旅游业有多年工作经，目前是一名专业从事户外探险的自由培训师，有带领大型团队的经验，曾经带领30-40人，在软硬技能、团队绩效、个人成长等方面对他们进行国际培训。他同时也是一名物流经理，业余摄影师，喜欢在大自然中拍摄模拟照片。
  - name: 莱拉
    avatar: images/team/lela.png
    avatar_hover: images/team/lela.png
    position: 莱拉（Lela）来自捷克，在格鲁吉亚生活和工作了五年。她是一名自由撰稿人和作家，在社会和旅游领域有丰富工作经验。她是第比利斯地图USE-IT的合著人，让年轻游客能够通过当地人的视角了解这个城市，避免旅游骗局。她喜欢工业城市奇观，如奇图拉。
  - name: 德瓦
    avatar: images/team/rati.png
    avatar_hover: images/team/rati.png
    position: 德瓦（Rati）负责业务开发、营销和物流。他在中国和韩国生活了四年，喜欢不同的文化、探险、骑行和科幻小说。
  - name: 大卫
    avatar: images/team/davit.png
    avatar_hover: images/team/davit.png
    position: 大卫（Davit）拥有旅游管理硕士学位。他喜爱第比利斯和她的节奏。大卫喜欢徒步登山和游世界。自2003年起，他开始涉足青年领域，参与并组织各类国际项目。
---

<div class="full centered-text about">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns ">
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
        <h1 class="wow slideInUp white">关于他们</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p></p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>关于我们</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medim-centered columns">
      <p class="big-text">
        我们是一支年轻团队，目标简单纯粹：展示格鲁吉亚最好的一面。我们将介绍格鲁吉亚美丽的自然、丰富的文化，分享历史和近况，帮您挖掘商机。我们的团队周游世界，目睹了无数的奇观，攀登了数十座高山，结识了众多的国际团体，最后决心回到格鲁吉亚，为游客提供美好的旅行体验。我们是最了解格鲁吉亚的。我们已经准备好，为您提供一次探险之旅，一窥普通游客看不到的世界。同时我们提供最高标准的服务，您只负责放松和享受，我们负责承担责任。
      </p>
    </div>
  </div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>关于我们团队的数据</h2>
        <p></p>
      </div>
    </div>
  </div>
    {% for member in page.members %}
    <div class="row">

      <div class="large-12 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
        </div>
        <div class="centered-text">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
